
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #eee;
    margin: 0;
    padding: 0;
   
}
section{
    padding:32px 9%;
}

.container{
    display: flex;
   
    background-color: #fff;
    box-shadow: 0 .5rem .1rem rgba(0,0,0,0.1);
    width: 100%;
    height: 120px;
}
.container nav{
    margin-left: 750px;
    font-size: 22px;
    margin-top: 42px;
    
}
nav a{
    padding: 20px 10px;
    color: #130f40;
}
.container .logo{
    margin-top: 35px;
    font-size: 32px;
    margin-left: 20px;
    font-weight: bold;
    color: #130f40;
}
.container .logo i{
    color:#ff7800;
    padding: 10px;
}
nav a:hover{
    color:#ff7800;
}
.container .icons i{
    background-color: lightgrey;
    border-radius: 10px;
   
}
.container .icons{
    margin-left: 500px;
    margin-top: 30px;
    font-size: 30px;
   
}
.container .icons i:hover{
    background-color:#ff7800;
    
}
.container .icons i{
    padding: 15px;
}
  .container .form{
    position: absolute;
    top: 105%; right: 0rem;
   width: 50rem;
   height: 4.5rem;
   background-color: white;
   display: flex;
   align-items: center;
   box-shadow: 0 .5rem .1rem rgba(0,0,0,0.1);
   overflow: hidden;
   border-radius: 20px;
   display: none;
  
} 
.container .form  input{
   
   width: 400px;
   margin-left: 200px;
   height: 35px;
   outline: none;
   border: none;
   margin-top: 20px;

} 
::placeholder{
    font-size: 25px;
    margin-top: 10px;
}
#formcontainer{ 
    position: absolute;
    top: 105%; right: 2rem;
   width: 28rem;
   height: 26rem;
   background-color: white;
   display: flex;
   align-items: center;
   box-shadow: 0 .5rem .1rem rgba(0,0,0,0.1);
   overflow: hidden;
   border-radius: 20px;
   display: block;
  display: none;

}
 .formgroup{
    margin-left: 50px;
    margin-top: 20px;
 }
 .formgroup label{
    display: block;
    font-size: 30px;
 }
 .formgroup input{
    height: 40px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid black;
 }
 .formgroup ::placeholder{
    font-size: 20px;
 }
 .formgroup input[type='submit']{
    border-radius: 30px;
    height: 50px;
    
 }
 .formgroup input[type='submit']:hover{
    background-color: #ff7800;
    border: none;
    outline: none;
 }
 .formgroup input[value='submit']{
    font-size: 23px;
 }

 .formgroup p {
    margin-left: 40px;
    
 }
 .formgroup p a{
    color: #ff7800;
    text-decoration-line: underline;
 }
 #checkbox{
    margin-left: 50px;
    
 }
 #barsbtn{
    display: none;
 }

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('supermarket-banner-concept-with-ingredients.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top:650px;
    padding-bottom: 250px;
   

}
 .home .content{
    text-align: center;
    width: 60rem;
   
}
.home .content h3{
    color: #130f40;
    font-size:  35px;
    margin-left: 350px;
   position: absolute;
   top: 30%;
   bottom: 50%;
}
.home .content h3 span{
    color: #ff7800;
}
.home .content p {
    position: absolute;
    top: 38%;
    bottom: 50%;
    margin-left: 400px;
    color: #666;
    font-size: 20px;
}
.home .content #button{
    position: absolute;
    top: 48%;
   bottom: 50%;
   margin-left: 30px;
   font-size: 20px;
   height: 50px;
   width: 200px;
   border: 2px solid #130f40;
   background-color: lightgrey;
   border-radius: 10px;
}
.home .content #button:hover{
    background-color: #ff7800;
    border: none;
}

.heading{
    text-align: center;
    font-size: 30px;
    color: #130f40;
    padding-bottom: 3rem;
    padding: 2rem 0; 
}
.features span{
    background: #ff7800;
    color: #fff;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%,0% 100%,7% 50%,0% 0%);
    padding: 10px 20px;
    display: inline-block;
}
.features .image{
    width: 250px;
}
.features .homecontainer{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
   gap: 20px;
   
}
.features .homecontainer .homecontent{
    padding: 10px 10px;
    background: #fff;
    text-align: center;
    box-shadow: 5px solid rgba(0,0,0,0.1);
}
.features .homecontainer .homecontent:hover{
    outline: 10px solid rgba(0,0,0,.1);
    outline-offset: 0px;
}
.features .homecontent h3{
    font-size: 26px ;
    line-height: 1;
    color: #130f40;
}
.features .homecontent #images{
    margin-top: 35px;
    width: 280px;
    height: 200px;
    background-color: #fff;
}

.features .homecontent p{
    font-size: 22px;
    color: #130f40;
}
.features .homecontent .buttons{
    font-size: 1.5rem;
    border-color: #130f40;
    width: 200px;
    border-radius: 10px;
    height: 50px;
}
.features .homecontent .buttons:hover{
    background-color: #ff7800;
    
}
.features .homecontent .alert{
    display: none;
    
}

.card{
    float:left;
    width: 20%;
    padding: 20px;
}
.images{
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    margin-left: 180px;
    border-radius: 35px;
}

.productcontainer span{
    background: #ff7800;
    color: #fff;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%,0% 100%,7% 50%,0% 0%);
    padding: 10px 10px;
    display: inline-block;
}
.names{
    margin-left: 320px;
    font-size: 25px;
    
}
.price{
    margin-left: 330px;
    font-size: 22px;
}
.quantity{
    margin-left: 280px;
    font-size: 22px;
}
.btns{
    margin-left: 250px;
    font-size: 20px;
    width: 300px;
    border-color: #130f40;
    height: 60px;
    border-radius: 20px;
}
.btns:hover{
    border: none;
    background-color: #ff7800;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: ipx solid #888;
    width: 300px;
    height: 270px;
}
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,.close:focus{
    color: #000;
    text-decoration:none;
    cursor:pointer
}
.Button{
    padding: 10px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
}
.total-amount{
    margin-top: 20px;
}
#quantity{
    height: 50px;
}
.label{
    font-size: 20px;
}

.category span{
    background: #ff7800;
    color: #fff;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%,0% 100%,7% 50%,0% 0%);
    padding: 10px 10px;
    display: inline-block;
    margin-top: 800px;
    margin-right: 100px;
    
}
.category{
    padding: 32px 9%;
  
}

.category .heading{
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    margin-inline: 50px;
    margin-left: 100px;
    
    
}
.category img{
    width: 250px;
    margin: 10px;
    height: 200px
}
.category .categorycontainer{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
   gap: 20px;
   
}
.category .categorycontainer .categorycontent{
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow:  1rem solid rgba(0,0,0,0.1);
    outline: 5px solid rgba(0,0,0,0.1);
    text-align:center;
    margin-inline: 20px;
}
.categories .categorycontainer .categorycontent:hover{
    outline: 5px solid rgba(0,0,0,0.1)hover;
    outline: 0rem;
}

.category .categorycontainer .categorycontent h3{
    font-size: 25px;
    color: #130f40;
    line-height: 1.8;
}
.category .categorycontainer .categorycontent p{
    font-size: 20px;
    color: black;
    line-height: 1.8;
    padding: 10px 0;
}
.category .categorycontainer .categorycontent .Buttons{
    font-size: 1.5rem;
    border-color: #130f40;
    width: 200px;
    border-radius: 10px;
    height: 50px;
}
.category .categorycontent .Buttons:hover{
    background-color: #ff7800;
    
}
.show h1{
   line-height: 1.5;
   font-size: 25px;
}
.show{
    display: none;
}
.review .review-slider{
    padding: 10px 10px;
}
.review .review-slider .wrappercontent{
    padding:10px 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow:  10px solid rgba(0,0,0,0.1);
    text-align:center;
    margin-inline: 20px;
}
.review .review-slider .wrappercontent:hover{
    outline: 20px solid rgba(0,0,0,0.1)hover;
    outline: 0px;
}
.review .review-slider .wrappercontent img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;

}
.review .review-slider .wrappercontent p{
    padding: 10px 0;
    line-height: 1.8;
    color: #130f40;
    font-size: 20px;
}
.review .review-slider .wrappercontent h3{
    padding-bottom: 10px;
    color: #130f40;
    font-size: 20px
}
.review .review-slider .wrappercontent .stars i{
    color: #ff7800;
    font-size: 15px;
}
.review span{
    background: #ff7800;
    color: #fff;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%,0% 100%,7% 50%,0% 0%);
    padding: 10px 10px;
    display: inline-block;
}
#addforms{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
   
    border-radius: 5px;
}
#addforms input[type='text'],
#addforms input[type='url'],
#addforms input[type='number']{
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #130f40;
    font-size: 20px;
    width: 500px;
    
}
#addforms input[type='submit']{
    padding: 10px 10px;
    color: #130f40;
    border: 1px solid #130f40;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 90px;
    margin-bottom: 15px;
}
#formss input[type='submit']:hover{
   background-color: #ff7800;
}
#addforms span{
    background: #ff7800;
    color: #fff;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%,0% 100%,7% 50%,0% 0%);
    padding: 10px 10px;
    display: inline-block;
    
}
#addforms h1{
    font-size: 30px;
    margin-left: 150px;
}
  
/* .contact form{
    text-align: center;
    padding: 2rem;
    box-shadow:  1rem solid rgba(0,0,0,0.1);
}
.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .inputBox input,.contact form  textarea{
  padding: 1rem;
  font-size: 1.7rem;
  background: #f7f7f7;
  text-transform: none;
  margin: 1rem 0;
  border: .1rem solid #130f40;
  width: 40%;
}
.contact form  textarea{
    height: 20rem;
    resize: none;
    width: 100%;
}
.bttn{
    font-size: 1.5rem;
    border-color: #130f40;
    width: 200px;
    border-radius: 10px;
    height: 50px;
}
.bttn:hover{
    background-color: #ff7800;
}
.contact span{
    background: #ff7800;
    color: #fff;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%,0% 100%,7% 50%,0% 0%);
    padding: .5rem 3rem;
    display: inline-block;
} */
.footer{
    background-color: #fff;
}
.footer .footercontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 10px;
}
.footer .footercontainer .footercontent h3{
    font-size: 25px;
    color: #130f40;
    padding: 20px;
}
.footer .footercontainer .footercontent h3 i{
    color: #ff7800;
}
.footer .footercontainer .footercontent a{
    display: block;
    font-size: 20px;
    color: #130f40;
    padding: 15px;
}
.footer .footercontainer .footercontent a i{
      color: #ff7800;
      padding-right: 20px;
}
.footer .footercontainer .footercontent a:hover i{
    padding-right: 20px
}
.footer .footercontainer .footercontent {
  line-height: 1.8;
    font-size: 20px;
    color: #130f40;
    padding: 20px;
}
.email{
    height: 50px;
    width: 400px;
    border-radius: 15px;
    border-color: #130f40;
}
.btnns{
    display: block;
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    padding: 10px 10px;
    border-radius: 15px;
    color: #130f40;
}
.btnns:hover{
    background-color: #ff7800;
}

 
